.repository {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .repository__userName {
        font-size: 1.6rem;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        transition: .2s;

        &:hover {
            color: var(--yellow)
        }
    }

    h2 {
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: normal;
    }

    .repository__list {
        list-style: none;
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 33% 33% 33%;

        @media (max-width: 900px) {
            grid-template-columns: 100%;
        }

        .respository__item {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            align-items: flex-start;
            margin-left: 5rem;
            padding: 1rem 0;
            border-top: 1px solid var(--gray-600);

            @media (max-width: 500px) {
                margin-left: 0;
                padding-left: 3rem;
            }

            p {
                font-size: 14px;
                color: lighten(#8B71EB, 10%);
                margin-top: 8px;
            }

            a {
                display: inline-block;
                margin-top: 16px;
                text-decoration: none;
                color: var(--yellow);

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}